.f-direction {
    flex-direction: row-reverse;
    padding-right: 20px;
}
.pl-20{
    padding-left: 20px;
}

.btn{
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-item a{
    color:white;
}