<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand pl-20">Xpenditure</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse f-direction" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item float-right">
            <button type="button" class="btn btn-success btn-sm">
                <a class="nav-link" routerLink="/login">Login</a>
            </button>
        </li>
        <li class="nav-item float-right pl-20">
            <button type="button" class="btn btn-secondary btn-sm">
                <a class="nav-link" routerLink="/register">SignUp</a>
            </button>
        </li>
        </ul>
    </div>
</nav>
