USE [X-PENDITURE]
GO
/****** Object:  UserDefinedFunction [dbo].[generate_user_id]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[generate_user_id](@seed INT)
RETURNS INT
AS
BEGIN
  DECLARE @random_id INT;
  SELECT @random_id = ABS(CHECKSUM(@seed)) % 1000000 + 1;
  RETURN @random_id;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[HashPassword]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HashPassword]
    (@password NVARCHAR(20))
    RETURNS VARBINARY(20)
    AS
BEGIN
    RETURN HASHBYTES('SHA1', RTRIM(RTRIM(@password)));
END

GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](20) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [date] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [date] NULL,
	[REMARKS] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSE]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAT_ID] [int] NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [date] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [date] NULL,
	[EXPENSE_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANS_ID] [varchar](40) NULL,
	[USERID] [int] NULL,
	[PAYMENT_METHOD] [varchar](20) NOT NULL,
	[AMOUNT] [int] NULL,
	[ACCOUNT_NUM] [int] NOT NULL,
	[BANK_NAME] [char](20) NOT NULL,
	[BRANCH_NAME] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TRANS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREMIUM_USERS]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREMIUM_USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[ROLES] [int] NULL,
	[SUBSCRIPTION_DATE] [date] NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[IS_REPEAT] [char](3) NULL,
	[CREATED_DATE] [date] NULL,
	[username] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLESNAME] [varchar](20) NOT NULL,
	[ROLESDESC] [varchar](20) NULL,
	[CREATED_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[ROLES] [int] NULL,
	[CREATED_DATE] [date] NULL,
	[IS_ACTIVE] [int] NOT NULL,
	[UPDATED_DATE] [date] NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[password] [varbinary](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_USERNAME] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS_DETAILS]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[U_ID] [int] NOT NULL,
	[FNAME] [varchar](30) NOT NULL,
	[LNAME] [varchar](30) NULL,
	[EMAILID] [nvarchar](40) NOT NULL,
	[PHONENO] [int] NOT NULL,
	[ADDRESSLINE1] [nvarchar](40) NULL,
	[STREET] [nvarchar](40) NULL,
	[PROVINCE] [nvarchar](30) NULL,
	[ZIPCODE] [nvarchar](20) NULL,
	[COUNTRY] [varchar](40) NULL,
	[IS_PREMIUM] [char](3) NULL,
	[CREATED_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[EXPENSE] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[EXPENSE] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[EXPENSE] ADD  CONSTRAINT [df_DATE]  DEFAULT (getdate()) FOR [EXPENSE_DATE]
GO
ALTER TABLE [dbo].[PREMIUM_USERS] ADD  DEFAULT (getdate()) FOR [SUBSCRIPTION_DATE]
GO
ALTER TABLE [dbo].[PREMIUM_USERS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[ROLES] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [df_rule]  DEFAULT ((1)) FOR [ROLES]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[USERS_DETAILS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [fk_CATEGORY_CREATEUSER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [fk_CATEGORY_CREATEUSER]
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [fk_CATEGORY_UPDATEUSER] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [fk_CATEGORY_UPDATEUSER]
GO
ALTER TABLE [dbo].[EXPENSE]  WITH CHECK ADD  CONSTRAINT [fk_EXPENSE_CATEGORY] FOREIGN KEY([CAT_ID])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[EXPENSE] CHECK CONSTRAINT [fk_EXPENSE_CATEGORY]
GO
ALTER TABLE [dbo].[EXPENSE]  WITH CHECK ADD  CONSTRAINT [fk_EXPENSE_CREATEUSER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[EXPENSE] CHECK CONSTRAINT [fk_EXPENSE_CREATEUSER]
GO
ALTER TABLE [dbo].[EXPENSE]  WITH CHECK ADD  CONSTRAINT [fk_EXPENSE_UPDATEUSER] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[EXPENSE] CHECK CONSTRAINT [fk_EXPENSE_UPDATEUSER]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [fk_PAYMENT_PREMIUM_USERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[PREMIUM_USERS] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [fk_PAYMENT_PREMIUM_USERS]
GO
ALTER TABLE [dbo].[PREMIUM_USERS]  WITH CHECK ADD  CONSTRAINT [fk_PREMIUM_USERS_USERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[PREMIUM_USERS] CHECK CONSTRAINT [fk_PREMIUM_USERS_USERS]
GO
ALTER TABLE [dbo].[PREMIUM_USERS]  WITH CHECK ADD  CONSTRAINT [FK_user_username] FOREIGN KEY([username])
REFERENCES [dbo].[USERS] ([USERNAME])
GO
ALTER TABLE [dbo].[PREMIUM_USERS] CHECK CONSTRAINT [FK_user_username]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [fk_ROLES_USERS] FOREIGN KEY([ROLES])
REFERENCES [dbo].[ROLES] ([ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [fk_ROLES_USERS]
GO
ALTER TABLE [dbo].[USERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_USERS_DETAILS_USERS] FOREIGN KEY([U_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[USERS_DETAILS] CHECK CONSTRAINT [fk_USERS_DETAILS_USERS]
GO
/****** Object:  StoredProcedure [dbo].[Insert_User_Password]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_User_Password]
    @userid INT,
    @is_active BIT,
    @updated_date DATETIME,
	@username NVARCHAR(50),
    @password NVARCHAR(20)
AS
BEGIN
    DECLARE @encrypted VARBINARY(256);
    DECLARE @random_seed INT = CAST(NEWID() AS VARBINARY);
    SET @userid = dbo.generate_user_id(@random_seed);

    OPEN SYMMETRIC KEY MySymmetricKey
        DECRYPTION BY CERTIFICATE MyCertificate;
    SET @encrypted = ENCRYPTBYKEY(KEY_GUID('MySymmetricKey'), @password);
    INSERT INTO USERS (userid, created_date, is_active, updated_date,USERNAME, password)
    VALUES (@userid,  GETDATE(), @is_active,GETDATE(),@username, @encrypted);
    CLOSE SYMMETRIC KEY MySymmetricKey;
END;
GO
/****** Object:  StoredProcedure [dbo].[Verify_Login]    Script Date: 06/04/2023 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Verify_Login]
    @userId AS NVARCHAR(20), 
    @password AS NVARCHAR(20)
AS
BEGIN
    DECLARE @encrypted VARBINARY(256);
    DECLARE @decrypted NVARCHAR(20);

    -- Open the symmetric key
    OPEN SYMMETRIC KEY MySymmetricKey
        DECRYPTION BY CERTIFICATE MyCertificate;

    -- Retrieve the encrypted password for this userId
    SELECT @encrypted = CONVERT(VARBINARY(256), "password")
    FROM USERS  
    WHERE USERNAME = @userId;

    -- Decrypt the password and compare with the input password
    SET @decrypted = CONVERT(NVARCHAR(20), DECRYPTBYKEY(@encrypted));
    IF (@decrypted = @password)
        PRINT 'Login successful';
    ELSE
        PRINT 'Invalid password';

    -- Close the symmetric key
    CLOSE SYMMETRIC KEY MySymmetricKey;
END

GO
