<div class="row tac">
    <div class="col-md-12 tac p-5" >
        <div class="card mx-auto p-5">
            <h2>Become a Premium User</h2>
            <hr>
            <h4>Xpenditure premium features</h4>
            <ul class="tal">
                <li>Create unlimited custom categories</li>
                <li>Manage your expenses using these custom categories</li>
                <li>Get the different prediction reports to analyze your expenses</li>
            </ul>
            <button class="btn btn-lg btn-success">Pay $29 CAD per month</button>
        </div>
    </div>
</div>