<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <span><i class="bi bi-people-fill"></i></span>
                <h3>Total Active Users</h3>
                <hr>
                <h3>{{ users }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg">
            <div class="card-body">
                <span><i class="bi bi-person-bounding-box"></i></span>
                <h3>Total Premium Users</h3>
                <hr>
                <h3>{{ premium_users }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <span><i class="bi bi-cart4"></i></span>
                <h3>Total Expenses Added</h3>
                <hr>
                <h3>{{ expenses }}</h3>
            </div>
        </div>
    </div>
</div>