<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item pl-20" (click)="toggleColor('f1')">
                <a class="nav-link" routerLink="/admin" [style.color]="f1 ? 'greenyellow' : 'white'">Dashboard</a>
            </li>
            <li class="nav-item pl-20" (click)="toggleColor('f2')">
                <a class="nav-link" routerLink="/admin/category" [style.color]="f2 ? 'greenyellow' : 'white'">Category</a>
            </li>
            <li class="nav-item pl-20" (click)="toggleColor('f3')">
                <a class="nav-link" routerLink="/admin/user" [style.color]="f3 ? 'greenyellow' : 'white'">Users</a>
            </li>
        </ul>        
    </div>
    <a class="navbar-brand" routerLink="/home">Xpenditure</a>     
    <a class="pl-20">
        <span><i class="icn bi bi-person-circle"></i></span>
    </a>    
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>    
</div>