.f-direction {
    flex-direction: row-reverse;
    padding-right: 20px;
}

.btn{
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-item a{
    color:white;
}

.fixed-top{
    position: sticky;
}

.icn{
    color:white;
    font-size: 25px;
    padding-right: 30px;
    cursor: pointer;
}